{
  "presets": [
      [
          "env", {
              "targets": {
                  "node": "current"
              }
          }
      ],
      "stage-0"
  ],
  "plugins": [
      ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error", "Array"]
      }],
      [
        "babel-plugin-root-import",
        {
          "rootPathSuffix": "./src",
          "rootPathPrefix": "@/"
        }
      ]
  ]
}
